export(grPipe.create, grPipe.node, grPipe.plot)

import(dplyr)
importFrom(DiagrammeR, grViz)
importFrom(DiagrammeRsvg, export_svg)
importFrom(magick, image_read, image_write, image_info)
importFrom(magrittr, "%>%")
